# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
pypdf==3.15.0
openai==0.27.8
tqdm==4.65.0
tiktoken==0.4.0
